<div class="uiowa-event-teaser">
    <div class="uiowa-event">
        {{ event.image }}
        <div class="uiowa-event-content">
            <div class="uiowa-event-title"><a href="{{ event.url }}">{{ event.title }}</a></div>
            <p class="date-string">{{ event.date_string }}</p>
            <p class="uiowa-event-description">{{ event.description_text }}</p>
        </div>
    </div>
</div>
