<div class="news-card news-card__{{ news-card_position }}">
  <img class="news-card__img" src="{{ news-card_image }}" alt="news-card image cap">
  <div class="news-card__body">
    <h2 class="news-card__title">
      <a href="{{ news-card_link_url }}">{{ news-card_title }}</a>
    </h2>
    <p class="news-card__text">{{ news-card_text }}</p>
  </div>
  <a class="bttn bttn--primary bttn--full" href="{{ news-card_link_url }}">{{ news-card_link_title }}</a>
</div>
