<div{{ card_attributes.addClass('card') }}>
  {% if header_before|render %}
    <div class="card-header-before">
      {{ header_before }}
    </div>
  {% endif %}
  {% if header|render %}
    <div class="card-header">
      {{ header }}
    </div>
  {% endif %}
  {% if header_after|render %}
    <div class="card-header-after">
      {{ header_after }}
    </div>
  {% endif %}
  {% if card_body|render %}
    <div class="card-body">
      {{ card_body }}
    </div>
  {% endif %}
  {% if footer_before|render %}
    <div class="card-footer-before">
      {{ footer_before }}
    </div>
  {% endif %}
  {% if footer|render %}
    <div class="card-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if footer_after|render %}
    <div class="card-footer-after">
      {{ footer_after }}
    </div>
  {% endif %}
</div>
