{{ attach_library('uids_base/accordion') }}
{% if accordion_multiselectable == true %}
  {% set accordion_type = 'multi' %}
{% else %}
  {% set accordion_type = 'single' %}
{% endif %}

<div class="accordion{% if accordion.variant %} accordion--{{ variant }}{% endif %}"
     role="tablist"
     aria-multiselectable="{{ accordion_type }}"
>
  {% set item_number = 1 %}
  {% for key, item in accordion_items %}
    <!-- Use the accurate heading level to maintain the document outline -->
    <h2 id="accordion-heading-{{ key }}"
        class="accordion__heading"
    >
      <button class="accordion__button"
              role="tab"
              aria-selected="{{ item.expanded | default('false') }}"
              aria-expanded="{{ item.expanded | default('false') }}"
              aria-controls="{{ accordion_type }}-select-{{ item_number }}"
      >
        {% block accordion_label %}
          {{ item.label }}
        {% endblock %}
        <i aria-hidden="true" focusable="false" class="fas fa-chevron-up"></i>
      </button>
    </h2>
    <div id="{{ accordion_type }}-select-{{ item_number }}"
         aria-labelledby="accordion-heading-{{ item_number }}"
         class="accordion__content"
    >
      {% block accordion_content %}
        {{ item.content }}
      {% endblock %}
    </div>
  {% endfor %}
</div>
