{{ attach_library('uids_base/accordion') }}
{% set accordion_type = 'single' %}
{% set accordion_item_id = 'accordion-' ~ accordion_type ~ '-select-' ~ delta %}
{% set data_parent = "#accordion-" ~ collection_parent_id %}

<!-- Use the accurate heading level to maintain the document outline -->
<{{ collection_heading_size }} id="{{ accordion_item_id }}-heading" class="accordion__heading">
  <button class="accordion_button"
    role="tab"
    aria-selected="{{ collection_item_expanded | default('false') }}"
    aria-expanded="{{ collection_item_expanded | default('false') }}"
    aria-controls="{{ accordion_item_id }}"
  >
    {% block collection_item_label %}
      {{ collection_item_label }}
    {% endblock %}
    <i aria-hidden="true" focusable="false" class="fas fa-chevron-up"></i>
  </button>
</{{ collection_heading_size }}>
<div id="{{ accordion_item_id }}"
  aria-labelledby="{{ accordion_item_id }}-heading"
  class="accordion__content"
  dataparent="{{ data_parent }}"
>
  {% block collection_item_content %}
    {{ collection_item_content }}
  {% endblock %}
</div>