{{ attach_library('uids_base/accordion') }}
<div class="uids-accordion
  {# @todo Implement accordion_variant #}
  {% if accordion.variant %} uids-accordion--{{ accordion.variant }}{% endif %}"
     role="tablist"
     aria-multiselectable="single"
>
  {% for key, item in accordion_items %}
    {# @todo How to set the h tag correctly? #}
    <h2 class="uids-accordion__heading">
      <button class="uids-accordion__button"
              role="tab"
              aria-selected="{{ key == 0 | default('false') }}"
              aria-expanded="{{ key == 0 | default('false') }}"
      >
        {{ item.label }}
        <i aria-hidden="true" focusable="false" class="fas fa-chevron-up"></i>
      </button>
    </h2>
    <div class="uids-accordion__content">
      {{ item.content }}
    </div>
  {% endfor %}
</div>

{% if accordion.multiselectable == true %}
  {% set accordion_type = 'multi' %}
{% else %}
  {% set accordion_type = 'single' %}
{% endif %}

<div class="accordion
  {% if accordion.variant %} accordion--{{ variant }}{% endif %}"
     role="tablist"
     aria-multiselectable="{{ multiselectable }}"
>
  {% set item_number = 1 %}
  {% for item in items %}
    <!-- Use the accurate heading level to maintain the document outline -->
    <h2 id="accordion-heading-{{ item_number }}"
        class="accordion__heading"
    >
      <button class="accordion__button"
              role="tab"
              aria-selected="{{ item.expanded | default('false') }}"
              aria-expanded="{{ item.expanded | default('false') }}"
              aria-controls="{{ accordion_type }}-select-{{ item_number }}"
      >
        {{ item.title }}
        <i aria-hidden="true" focusable="false" class="fas fa-chevron-up"></i>
      </button>
    </h2>
    <div id="{{ accordion_type }}-select-{{ item_number }}"
         aria-labelledby="accordion-heading-{{ item_number }}"
         class="accordion__content"
    >
      {{ item.content }}
    </div>
    {% set item_number = item_number + 1 %}
  {% endfor %}
</div>
