{{ attach_library('uids_base/accordion') }}
{% set accordion_h_size = accordion_h_size ?: 'h2' %}
{% set accordion_hash = accordion_hash ?: accordion_item_label.0['#context'].value|clean_class %}
<details class="accordion__item" {% if accordion_type == 'single' %}name="accordion-collection"{% endif %} id="{{ accordion_item_id }}" role="none">
  <summary {% if accordion_hash %}id="{{ accordion_hash }}"{% endif %} class="accordion__heading" role="tab">
    <{{ accordion_h_size }}>
    {% block accordion_label %}
      {{ accordion_item_label }}
    {% endblock %}
    <i aria-hidden="true" class="fas fa-chevron-up" role="presentation"></i>
  </{{ accordion_h_size }}>
  </summary>
  <div id="{{ accordion_item_content_id }}" class="accordion__content bg--white">
    {% block accordion_content %}
      {{ accordion_item_content }}
    {% endblock %}
  </div>
</details>
