{{ attach_library('uids_base/accordion') }}
{% if accordion_multiselectable == true %}
  {% set accordion_type = 'multi' %}
{% else %}
  {% set accordion_type = 'single' %}
{% endif %}
{% set accordion_h_size = accordion_h_size ?: 'h2' %}

<div class="accordion{% if accordion.variant %} accordion--{{ variant }}{% endif %}"
     role="tablist"
     aria-multiselectable="{{ accordion_type }}"
>
  {% for key, item in accordion_items %}
    <!-- Use the accurate heading level to maintain the document outline -->
    <{{ accordion_h_size }} id="accordion-heading-{{ key }}" class="accordion__heading">
      <button class="accordion__button"
              role="tab"
              aria-selected="{{ item.expanded | default('false') }}"
              aria-expanded="{{ item.expanded | default('false') }}"
              aria-controls="accordion-{{ accordion_type }}-select-{{ key }}"
      >
        {% block accordion_label %}
          {{ item.label }}
        {% endblock %}
        <i aria-hidden="true" focusable="false" class="fas fa-chevron-up"></i>
      </button>
    </{{ accordion_h_size }}>
    <div id="accordion-{{ accordion_type }}-select-{{ key }}"
         aria-labelledby="accordion-heading-{{ key }}"
         class="accordion__content"
    >
      {% block accordion_content %}
        {{ item.content }}
      {% endblock %}
    </div>
  {% endfor %}
</div>
