{{ attach_library('uids_base/banner') }}

{# The following code is to determine where a link should be attached, if it exists. #}
{% if links|length == 1 %}
  {% set link = links|first %}
  {% set link_element, show_button = false, false %}
  {% if link.link_url is not empty %}
    {% if banner_title is not empty %}
      {# Title is set, use it as the linking element.  #}
      {% set link_element = 'title' %}
      {# If we also have link text, then we'll show a psuedo-button. #}
      {% if link.link_text is not empty %}
        {% set show_button = true %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if link_element != 'title' or not show_button %}
    {% set banner_aria_describedby = '' %}
  {% endif %}
{% endif %}

{% set attributes = attributes ?: create_attribute() %}
{% set banner_classes = ['banner'] %}

<div{{ attributes.addClass(banner_classes) }}>

  {% block banner_image %}
    {% if banner_image %}
      <div class="banner__image">
        {{ banner_image }}
      </div>
    {% endif %}
  {% endblock %}

  <div class="banner__container">
    <div class="banner__content">
      {% block heading %}
        {% if banner_title is not empty %}
          {# @todo Determine if it is better to programatically set level and class via preprocess. #}
          {% set banner_heading = {
            'headline_level': headline_level ?: 'h2',
            'headline_class' : headline_class ?: 'bold-headline bold-headline--serif bold-headline--negative',
            'headline_text' : banner_title,
            'headline_url': link.link_url,
            'headline_aria': banner_aria_describedby,
            'headline_attributes': headline_attributes ?: null,
          } %}
          {% include '@uids_base/uids/headline.html.twig' with banner_heading only %}
        {% endif %}
      {% endblock %}

      {% if banner_summary is not empty %}
        <div class="banner__text">{{ banner_summary }}</div>
      {% endif %}

      {% block banner_bttn %}
        {% if links is not empty %}

          <div class="banner__action">
            {% if links|length > 1 %}
              <div class="bttn--row">
                {% for link in links %}
                  <a class="{{ link.link_classes }}" href="{{ link.link_url }}">
                    {{ link.link_text }}
                    <span class="fas fa-arrow-right"></span>
                  </a>
                {% endfor %}
              </div>
            {% elseif links|length == 1 %}
              {% if show_button == true %}
                <div aria-hidden="true" class="{{ link.link_classes }}" {% if banner_aria_describedby %} id="{{ banner_aria_describedby }}" {% endif %}>
                  {{ link.link_text }}
                  <span class="fas fa-arrow-right"></span>
                </div>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
      {% endblock %}

    </div>
  </div>
</div>
