{#
# Renders a <blockquote> with footer, citation and attributes if available.
#
# Available properties of the blockquote object:
# * blockquote_attributes
# * blockquote_cite
# * blockquote_cite_url
# * blockquote_footer
# * blockquote_content
#
#}
{% if blockquote_cite_url is not empty %}
  {% set blockquote_attributes = blockquote_attributes.setAttribute('cite', blockquote_cite_url) %}
{% endif %}

<blockquote {{ blockquote_attributes }}>
  {% if has_image_above %}
    {% block blockquote_image_above %}
      <div class="blockquote__media media--circle"">{{ blockquote_image }}</div>
    {% endblock %}
  {% endif %}
  <div class="blockquote__content">
    {% block blockquote_text %}
      <div class="blockquote__paragraph">
        {{ blockquote_content }}
      </div>
    {% endblock %}
    {% if blockquote_footer is not empty or(blockquote_cite is not empty) %}
      <footer>
        {% if has_image_below %}
          {% block blockquote_image_below %}
            <div class="blockquote__media media--circle">{{ blockquote_image }}</div>
          {% endblock %}
        {% endif %}
        <div>
          {% if blockquote_footer is not empty %}
            {{ blockquote_footer }}
          {% endif %}
          {% if blockquote_cite is not empty %}
            <cite>{{ blockquote_cite }}</cite>
          {% endif %}
        </div>
      </footer>
    {% endif %}
  </div>
</blockquote>
