{% set attributes = attributes ?: create_attribute() %}
<div {{ attributes }}>
  {% block button_content_start %}
    {{ title_prefix }}
    {#  The below is not working because button classes is an array of different classes  #}
    <a class="{{ button_classes[0] }}" href="{{ button_link_url }}">
      {{ button_link_title }}
      <i role="presentation" class="fas fa-arrow-right"></i>
    </a>
  {% endblock %}
</div>
