{{ attach_library('uids_base/card') }}
{{ attach_library('uids_base/media') }}
{% set button_attributes = button_attributes ?: create_attribute() %}
{% set card_button_classes = ['bttn', 'bttn--primary', 'bttn--transparent', 'bttn--light-font'] %}
{% set visible_button = visible_button ?: false %}

{# Do not show the aria-describedby attribute if title AND link text are not both present. #}
{% if linked_element != 'title' or link_text == '' %}
  {% set card_aria_describedby = '' %}
{% endif %}

<div{{ attributes }}{% if url is empty %} data-uids-no-link{% endif %}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block media %}
    {% if media is not empty %}
      <div {{ media_attributes }}>
        <div class="media__inner">
          {% if linked_element == 'media' %}
          <a href="{{ url }}">
            {{ media }}
          </a>
          {% else %}
            {{ media }}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endblock %}

  {% block body %}
    <div class="card__body">
      {% block heading %}
        {% if title %}
          <header>
            {# @todo Determine if it is better to programatically set level and class via preprocess. #}
            {% set card_heading = {
              'headline_level': headline_level ?: 'h2',
              'headline_class': headline_class ?: 'headline',
              'headline_text': title,
              'headline_url': url,
              'headline_aria': card_aria_describedby,
              'headline_url_class': linked_element == 'title' ? 'click-target' : null,
            } %}
            {% include '@uids_base/uids/headline.html.twig' with card_heading only %}
          </header>
        {% endif %}
      {% endblock %}

      {% block details %}
        {% if subtitle or meta is not empty %}
          <div class="card__details">
            {% block subtitle %}
              {% if subtitle is not empty %}
                <div class="card__subtitle">
                  {{ subtitle }}
                </div>
              {% endif %}
            {% endblock %}
            {% block meta %}
              {% if meta is not empty %}
                <div class="card__meta">
                  {{ meta }}
                </div>
              {% endif %}
            {% endblock %}
          </div>
        {% endif %}
      {% endblock %}

      {% block content %}
        {% if content is not empty %}
          {{ content }}
        {% endif %}
      {% endblock %}

      {% block card_button %}
        {% if url is not empty and link_indicator or link_text is not empty %}
          <footer>
            {% if linked_element == 'button' %}
              {# Display as a link. #}
              <a {{ button_attributes.addclass(card_button_classes, 'click-target') }} href="{{ url }}">
                {{ link_text }}
                <i role="presentation" class="fas fa-arrow-right"></i>
              </a>
            {% else %}
              {# Display as a pseudo-link. #}
              <div aria-hidden="true" {{ button_attributes.addclass(card_button_classes) }}  {% if (card_aria_describedby != '') %} id="{{ card_aria_describedby }}"{% endif %}>
                {{ link_text }}
                <i role="presentation" class="fas fa-arrow-right"></i>
              </div>
            {% endif %}
          </footer>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}
</div>
