{% set heading_level = heading_level ?: 'h2' %}
{% set attributes = attributes ?: create_attribute() %}
{% set heading_class = heading_class ?: [] %}
<{{ heading_level }}{{ attributes.addClass(heading_class) }}>
{% if heading_url %}
<a href="{{ heading_url }}" {% if heading_aria %}aria-describedby="{{ heading_aria }}"{% endif %}>
  {% endif %}
  {% if heading_prefix %}
    <span class="heading__prefix">{{ heading_prefix }}</span>
  {% endif %}
  <span class="heading__heading">
    {% block heading_content %}
    {{ heading }}
    {% endblock heading_content %}
  </span>
  {% if heading_suffix %}
    <span class="heading__suffix">{{ heading_suffix }}</span>
  {% endif %}
  {% if heading_url %}
</a>
{% endif %}
</{{ heading_level }}>
