{{ attach_library('uids_base/tab') }}
{% set tab_h_size = tab_h_size ?: 'h2' %}
{% set tab_item_id = 'accordion-select-' ~ delta %}

<{{ tab_h_size }} id="{{ tab_item_id }}-heading" class="tab__heading">
  <button class="tab__button"
          role="tab"
          aria-selected="{{ item.expanded | default('false') }}"
          aria-expanded="{{ item.expanded | default('false') }}"
          aria-controls="{{ tab_item_id }}"
  >
    {% block accordion_label %}
      {{ item.label }}
    {% endblock %}
  </button>
</{{ tab_h_size }}>
{% endfor %}
</div>
<div class="tab__panels">
  {% for key, item in tab_items %}
  <div id="{{ tab_item_id }}"
       aria-labelledby="{{ tab_item_id }}-heading"
       class="tab__content"
  >
    {% block tab_content %}
      {{ item.content }}
    {% endblock %}
  </div>
