<div class="card card__{{ card_position }}">
  <img class="card__img" src="{{ card_image }}" alt="Card image cap">
  <div class="card__body">
    <h2 class="card__title">
      <a href="{{ card_link_url }}">{{ card_title }}</a>
    </h2>
    <p class="card__text">{{ card_text }}</p>
  </div>
  <a class="bttn bttn--primary bttn--full" href="{{ card_link_url }}">{{ card_link_title }}</a>
</div>
