{% block card_wrapper_start %}
  <div class="card card__{{ card_position }} {{ card_classes }}">
  {% endblock %}

  {% block card_img %}
    {% if card_image %}
      <img class="card__img" src="{{ card_image }}" alt="Alt Text">
    {% endif %}
  {% endblock %}

  <div class="card__body">

    {% block heading %}
      {% if card_title is not empty %}
        {% include "@heading" with {
          "heading_level" : 'h2',
          "heading_class" : 'card__title',
          "heading" : card_title
        } %}
      {% endif %}
    {% endblock %}

    {% block card_content %}
      {{ card_text }}
    {% endblock %}

  </div>
  {% if card_link_url is not empty %}
    <a class="bttn bttn--primary bttn--full" href="{{ card_link_url }}">{{ card_link_title }}</a>
  {% endif %}

  {% block card_wrapper_end %}
  </div>
{% endblock %}
