{{ attach_library('uids_base/hero') }}

<div class="hero hero__{{ hero_alignment }} {{ attributes ? attributes.class }}" {{ attributes ? attributes|without('class') }}>
	{{ title_prefix }}
	{{ title_suffix }}
	{% block hero_footer %}
	{% endblock hero_footer %}
	<div class="hero__img">
		{% block hero_image %}
		{% endblock %}
	</div>
	<div class="hero__container hero__container-{{ hero_alignment }}">
		<div class="hero__content hero__content-{{ hero_alignment }}">
			{% block hero_content %}
			{% endblock %}
		</div>
	</div>
</div>
