{# Pre-footer (Calls to action) #}
{% if page.pre_footer %}
  <div role="region" class="footer-cta__wrapper">
    <div class="footer-cta__container">
      {{ page.pre_footer }}
    </div>
  </div>
{% endif %}

<footer class="footer">
  <div class="footer__container footer__container--flex">
    <div class="footer__links footer__links--contact">

      {{ attach_library('uids_base/logo') }}
      {% include '@uids_base/uids/logo.twig' with {
        logo_path_2: uiowa_logo_path,
        logo_path_png: uiowa_logo_path_png,
      } %}

      {% block site_name %}
        {% if site_name %}
          {# @todo Remove header_type condition when uiowa sub-theme is functional. #}
          {% if header_type != 'homepage' %}
            <h2 class="site-name">{{ site_name }}</h2>
          {% endif %}
        {% endif %}
      {% endblock %}

      {% block site_slogan %}
        {% if site_has_parent %}
          <strong class="parent-site-name">
            <a href="{{ site_parent_url }}">
              {{ site_parent_name }}
            </a>
          </strong>
        {% endif %}
      {% endblock %}

      {% if page.footer_first %}
        {{ page.footer_first }}
      {% endif %}

      {% if footer_login_link %}
        <div class="uiowa-footer--login-link">
          {{ login_url }}

          <p>{{ footer_login_link }}</p>
        </div>
      {% endif %}

      {% include '@uids_base/uids/footer--socket-menu.twig' %}

    </div>

    {% if page.footer_second %}
      {{ page.footer_second }}
    {% endif %}

  </div>

</footer>
