<header class="{{ header_type }} {{ header_nav }} {{ header_action }}">

    <div class="uiowa-bar">
        <div class="page__container">

            {% render '@logo--tab' %}

            {% if header_type == 'header--primary' %}

                {% render '@top' %}
                {% render '@search-toggle--primary' %}

            {% elseif header_type == 'header--secondary' %}

                {% include '@site-name' with {"site_name": 'Carver College of Medicine'} %}
                {% render '@search-toggle' %}

            {% elseif header_type == 'header--tertiary' %}

                {% include '@site-slogan' with {"site_slogan": 'Carver College of Medicine'} %}
                {% render '@top--department' %}


            {% endif %}

            {% if not (header_type == 'header--tertiary') and (header_nav == 'header--toggle') %}
                {% include '@off-canvas' %}
            {% endif %}

        </div>
    </div>

    {% if header_type == 'header--tertiary' %}

        <div class="site_name--wrapper {{ header_nav }}">
            <div class="page__container">

                {% include '@site-name' with {"site_name": 'Fraternal Order of Eagles Diabetes Research Center'} %}
                {% render '@search-toggle' %}
                {% if header_nav == 'header--toggle' %}
                    {% include '@off-canvas' %}
                {% endif %}

            </div>
        </div>

    {% endif %}
</header>

{% if header_nav == 'header--horizontal' %}
    <nav class="menu-horizontal {{ header_type }} ">
        <div class="page__container">
            {% render '@superfish' %}
        </div>
    </nav>

{% elseif header_nav == 'header--horizontal' %}
    <nav class="menu-horizontal {{ header_type }}">
        <div class="page__container">

            {% render '@superfish' %}

        </div>
    </nav>
{% endif %}
