{% extends '@uids_base/layout/header.html.twig' %}

{% block uiowa_bar %}
  {{ attach_library('uids_base/site-name') }}
  {% include '@uids_base/uids/site-name.html.twig' with {
    'site_name': site_name,
    'site_url': path('<front>'),
  } %}

  {% if page.action_menu %}
    {{ page.action_menu }}
  {% endif %}

  {% if page.search_menu %}
    {{ page.header_search }}
  {% endif %}

  {% if page.search %}
    {{ attach_library('uids_base/search-toggle') }}
    {{ attach_library('uids_base/search') }}
    <div class="search-wrapper">
      <div class="search-overlay" aria-expanded="false" aria-label="search tools for this site">
        {{ page.search }}
        {% if page.under_search %}
          {{ page.under_search }}
        {% endif %}
      </div>
      {% include '@uids_base/uids/search-toggle--bttn.twig' %}
    </div>
  {% endif %}

  {% if header_nav == 'toggle' %}
    {% include '@uids_base/navigation/off-canvas.html.twig' %}
  {% endif %}
{% endblock %}
