{% set header_classes = header_classes|merge([
  header_nav,
]) %}

{{ attach_library('uids_base/header') }}
{% if header_sticky %}
  {{ attach_library('uids_base/header-sticky') }}
{% endif %}
<header data-uids-header {{ attributes.addClass(header_classes) }}>
  <div class="uiowa-bar">
    <div class="page__container">
      {% block logo %}
        {{ attach_library('uids_base/logo') }}
        {% include '@uids_base/uids/logo.twig' with {
          path: uiowa_url,
          logo_color: 'logo-icon--secondary',
          logo_classes: 'logo-icon--tab',
          logo_path: uiowa_logo_path,
          logo_path_png: uiowa_logo_path_png,
          logo_id: 'header',
        } %}
      {% endblock %}

      {% block uiowa_bar %}
        {# UIowa bar content #}
      {% endblock %}
    </div>
  </div>

  {% block tertiary_content %}
    {# Tertiary content #}
  {% endblock %}
</header>

{% block horizontal_nav %}
  {% if header_nav in ['horizontal', 'mega'] %}
    {% set nav_attributes = create_attribute() %}
    {% set nav_classes = [
      'menu-horizontal',
      'nav--' ~ header_nav,
    ]|merge(header_classes) %}

    <nav{{ nav_attributes.addClass(nav_classes) }}>
      <div class="page__container">
        {{ page.primary_menu }}
      </div>
    </nav>
  {% endif %}

{% endblock %}
