{% extends '@uids_base/layout/header.html.twig' %}

{% block uiowa_bar %}

  {% if site_has_parent %}
    {% include '@uids_base/uids/site-parent.html.twig' with {
      'parent_name': site_parent_name,
      'parent_url': site_parent_url,
    } %}
  {% endif %}
{% endblock %}

{% block tertiary_content %}
  <div class="iowa-bar__below {{ header_nav }}">
    <div class="iowa-bar__container">

      {% if logo_path and is_off_brand %}
        <div class="site-name">
          <a href="{{ path('<front>') }}"><img alt="{{ site_name }}" src ="{{ logo_path }}" /></a>
        </div>
      {% else %}
        {% include '@uids_base/uids/site-name.html.twig' with {
          'site_name': site_name,
          'site_url': path('<front>'),
        } %}
      {% endif %}

      {% if page.search %}
        {% include '@uids_base/uids/global/search-toggle.html.twig' with {
          'search_form': page.search,
        } %}
      {% endif %}
      {% if page.action_menu %}
        {{ page.action_menu }}
      {% endif %}
      {% if page.primary_menu %}
        {% if header_nav == 'toggle' %}
          {% include '@uids_base/navigation/toggle-nav.html.twig' %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
