{% set header_classes = header_classes|merge([
  'iowa-bar',
  header_nav,
  header_branding == 'uihc' ? 'iowa-bar--healthcare' : ''
]) %}

{% if header_nav == 'toggle' %}
  {% if not logged_in %}
    {{ attach_library('uids_base/header-sticky') }}
  {% elseif logged_in and header_sticky %}
    {{ attach_library('uids_base/header-sticky') }}
  {% endif %}
{% endif %}

<header data-uids-header {{ attributes.addClass(header_classes) }}>
  <div class="iowa-bar__container">
    {% block logo %}
      {% if uiowa_logo is not empty %}
        {{ attach_library('uids_base/logo') }}

        {% if header_branding == 'iowa' %}
          {% include '@uids_base/uids/logo.twig' with {
            path: uiowa_url,
            logo_classes: 'logo--tab',
            logo_path_png: uiowa_logo_path_png,
            logo_id: 'header',
          } %}
        {% elseif header_branding == 'uihc' %}
          {% include '@uids_base/uids/logo-uihc.twig' with {
            logo_classes: 'logo--tab logo--healthcare',
            logo_path_png: uihc_logo_path_png,
            logo_id: 'header',
          } %}
        {% elseif header_branding == 'regents' %}
          <div class="top-bar"></div>
        {% endif %}
      {% endif %}
      {% if uiowa_logo is empty %}
        {% if header_branding == 'regents' %}
          <div class="top-bar"></div>
        {% endif %}
      {% endif %}
    {% endblock %}

    {% block uiowa_bar %}
      {# UIowa bar content #}
    {% endblock %}
  </div>

  {% block tertiary_content %}
    {# Tertiary content #}
  {% endblock %}
</header>

{% block horizontal_nav %}
  {% if header_nav in['horizontal', 'mega'] %}
    {{ attach_library('uids_base/mega-menu') }}
    {{ attach_library('uids_base/horizontal-menu') }}
    {% set nav_attributes = create_attribute() %}
    {% set nav_classes = [
      'nav--horizontal',
      'nav--' ~ header_nav,
    ] %}

    <nav{{ nav_attributes.addClass(nav_classes) }} aria-label="Primary menu">
      <div class="page__container">
        {{ page.primary_menu }}
      </div>
    </nav>
  {% endif %}

{% endblock %}
