{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{{ attach_library('uids_base/accordion') }}
{% set id = "accordion-transfer-tips" %}

{#Construct aria-owns attribute for accordion.#}
{% if view.result is defined and view.result is iterable %}
  {% set aria_owns = [] %}
  {% for item in view.result %}
    {% if item.nid is defined %}
      {% set aria_owns = aria_owns|merge(['accordion-heading-transfer-tips-' ~ item.nid]) %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="collection--accordion">
  <div class="accordion" role="tablist" {% if aria_owns is defined and aria_owns is iterable %}
    aria-owns="{{ aria_owns|join(' ') }}"
  {% endif %} aria-multiselectable="false" id="{{ id }}">
    {% for row in rows %}
      {%
        set row_classes = [
          default_row_class ? 'views-row',
        ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{- row.content -}}
      </div>
    {% endfor %}
  </div>
</div>
