{#
/**
 * @file
 * Default theme implementation to display a one column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 * @see https://www.drupal.org/docs/8/api/layout-api/how-to-register-layouts
 * @see https://v4-alpha.getbootstrap.com/layout/grid/
 */
#}
{%
  set classes = [
    'layout',
    'layout--onecol',
    'flex__wrapper',
    'layout__container',
    settings.extra_classes,
  ]
%}

{% if content.content %}

{% if content['#settings'].layout_builder_styles_style.section_style_hero_left_aligned %}
	<section class="hero hero__bottom">

<div class="test">
{{ drupal_entity('block', 'uids_base_breadcrumbs') }}
{{ drupal_entity('block', 'uids_base_page_title') }}
<h1>{{ drupal_title() }}</h1>



</div>

        {% if region_attributes.content.storage['data-region'] %}
            <div {{ region_attributes.content.addClass('flex__wrapper') }}>
            {% endif %}
            <div class="rapper">
            {{ content.content }}
            </div>
            {% if region_attributes.content.storage['data-region'] %}
            </div>
        {% endif %}

    </section>



{% elseif content['#settings'].layout_builder_styles_style.section_style_hero_center_aligned %}

center

{% else %}

<section{{attributes.addClass(classes)}}>

	{% if region_attributes.content.storage['data-region'] %}
		<div {{ region_attributes.content.addClass('flex__wrapper') }}>
		{% endif %}
		{{ content.content }}
		{% if region_attributes.content.storage['data-region'] %}
		</div>
	{% endif %}

</section>

{% endif %}

{% endif %}
