{%
  set classes = [
  'card--list'
]
%}

{{ attach_library('classy/node') }}
{{ attach_library('uids_base/paragraphs-lists') }}
{#
{% set events_card = {

  'card_subtitle': event.subtitle | render,
  'event_virtual': event.virtual,
} %}
#}
{# Create a data array #}

{# 'event_icon': content.field_uiowa_event_icon|render, #}


{# Set the event icon #}
{% if event.virtual %}
  {% set event_icon = '<span class="fas fa-laptop"></span>' %}
  {% set event_location = 'Virtual' %}
{% else %}
  {% set event_icon = '<span class="fas fa-map-marker-alt"></span>' %}
  {% set event_location = event.location_name %}

{% endif %}

{% set event_block = {
	'attributes': attributes.addClass(classes),
	'event_image': event.image|render,
	'event_title': event.title|render,
	'title_prefix': title_prefix,
	'title_suffix': title_suffix,
	'event_url': event.url,
	'event_date': event.date_string,
	'heading_level': event.heading_size,
  'event_icon': event_icon|trans ,
  'event_location': event_location|render,
  'event_description': event.description_text,
} %}

{{ kint(event) }}

{% embed '@uids_base/uids/event.html.twig' with event_block only %}

	{% block heading %}
		{{ title_prefix }}
		{{ parent() }}
		{{ title_suffix }}
	{% endblock %}

{% endembed %}

