{{ attach_library('classy/node') }}
{{ attach_library('uids_base/paragraphs-lists') }}
{{ attach_library('uids_base/event') }}
{{ attach_library('uids_base/media') }}

{# Set the event icon #}
{% if event.virtual %}
  {% set event_icon = '<span role="presentation" class="fas fa-laptop"></span>' %}
  {% set event_location = 'Virtual' %}
{% else %}
  {% set event_icon = '<span role="presentation" class="fas fa-map-marker-alt"></span>' %}
  {% set event_location = event.location_name %}
{% endif %}
{% set style_classes = [] %}
{% set size_classes = [] %}
{%
  set classes = [
  'card--list',
  'event-item',
]
%}
{% for style in event.parent_lb_styles %}

  {% set classes = classes|merge([style]) %}

  {% if style starts with 'media--' %}
    {% set style_classes = style_classes|merge([style]) %}
  {% endif %}

  {% if style starts with 'card__media' %}
    {% set size_classes = size_classes|merge([style]) %}
  {% endif %}

{% endfor %}

{% set block_card = {
  'attributes': attributes.addClass(classes).removeClass(style_classes, size_classes),
  'media_styles': style_classes,
  'media_sizes': size_classes,
  'media': event.image|render,
  'title': event.title|render,
  'title_prefix': title_prefix,
  'title_suffix': title_suffix,
  'link_url': event.url,
  'subtitle': event.date_string,
  'headline_level': event.heading_size,
  'content': event.description|render|trim|t,
  'event_icon': event_icon|trans,
  'meta': event_location|render,
  'canceled': event.canceled,
} %}

{% embed '@uids_base/uids/card.html.twig' with block_card only %}

  {% block meta %}
    {% if meta is not empty %}
      <div class="card__meta">
        {{ event_icon }}
        {{ meta }}
      </div>
    {% endif %}
  {% endblock %}

  {% block content %}
    {% if content is not empty %}
      <div class="card__description">{{ content }}</div>
    {% endif %}
    {% if canceled %}
      <span class="badge badge--orange">Canceled</span>
    {% endif %}
  {% endblock %}
{% endembed %}
