{%
  set classes = [
    'card--list',
    'card__row',
    'card--media-left'
  ]
%}

{{ attach_library('classy/node') }}
{{ attach_library('uids_base/paragraphs-lists') }}
{{ attach_library('uids_base/event') }}
{{ attach_library('uids_base/media') }}

{# Set the event icon #}
{% if event.virtual %}
  {% set event_icon = '<span class="fas fa-laptop"></span>' %}
  {% set event_location = 'Virtual' %}
{% else %}
  {% set event_icon = '<span class="fas fa-map-marker-alt"></span>' %}
  {% set event_location = event.location_name %}
{% endif %}

{% set block_card = {
  'attributes': attributes.addClass(classes),
  'media_styles' : ['media--circle', 'media--border'],
  'media_sizes' : 'card__media--small',
  'card_image': event.image|render,
  'card_title': event.title|render,
  'title_prefix': title_prefix,
  'title_suffix': title_suffix,
  'card_link_url': event.url,
  'card_date': event.date_string,
  'headline_level': event.heading_size,
  'card_text': event.description_text,
  'event_icon': event_icon|trans ,
  'card_tag': event_location|render,
} %}

{% embed '@uids_base/uids/card.html.twig' with block_card only %}

  {% block card_tag %}
    {% if card_tag is not empty %}
      <div class="card__label">
        {{ event_icon }}
        {{ card_tag }}
      </div>
    {% endif %}
  {% endblock %}

{% endembed %}
