{#
/**
 * @file
 * Default theme implementation for MAUI session date.
 *
 * Available variables:
 * - heading_size: The heading size to use for the date.
 *
 * @see template_preprocess_uiowa_maui_session_date()
 *
 * @ingroup themeable
 */
#}
<div class="uiowa-maui-session-date">
  <{{ heading_size }}>
  {{ session_date }}
  </{{ heading_size }}>

  <div class="uiowa-maui-session-date-description">
    {{ description }}
    <span class="uiowa-maui-session-date-session">{{ session }}</span>
  </div>
</div>
