{{ attach_library('uids_base/timeline') }}
{{ content.field_uiowa_headline }}
<div{{ attributes.addClass(classes) }}>
  <div class="timeline-line">
    <div class="timeline-line__mask">
      <div class="timeline-line__fill">
      </div>
    </div>
  </div>
  {{ title_prefix }}
  {{ title_suffix }}
  <ul class="timeline">
  {{ content|without('field_uiowa_headline') }}
  </ul>
</div>
