{#
/**
* @file
* Theme override to display a block.
*
* Available variables:
* - plugin_id: The ID of the block implementation.
* - label: The configured label of the block if visible.
* - configuration: A list of the block's configuration values.
*   - label: The configured label for the block.
*   - label_display: The display settings for the label.
*   - provider: The module or other provider that provided this block plugin.
*   - Block plugin specific settings will also be stored here.
* - content: The content of this block.
* - attributes: array of HTML attributes populated by modules, intended to
*   be added to the main container tag of this template.
*   - id: A valid HTML ID and guaranteed unique.
* - title_attributes: Same as attributes, except applied to the main title
*   tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the main title tag that appears in the template.
*
* @see template_preprocess_block()
*/
#}

{% block content %}

  {{ attach_library('uids_base/cta') }}

	{% block cta_container_start %}
		<div class="cta__wrapper {{ attributes ? attributes.class }}" {{ attributes ? attributes|without('class') }}>
			{{ title_prefix }}
			{{ title_suffix }}

			<div class="cta__container">
			{% endblock %}

			{% block heading %}
				{% if content.field_uiowa_cta_title[0]['#text'] is not empty %}
					<div class="cta__title">
            {% set cta_headline = {
              "headline_level" : content.field_uiowa_cta_title[0]['#size'],
              "headline_class" : 'bold-headline bold-headline--caps',
              "headline_text" : content.field_uiowa_cta_title[0]['#text'],
            } %}
					{% include '@uids_base/uids/headline.html.twig' with cta_headline only %}
					</div>
				{% endif %}
			{% endblock %}

			{% block cta_content %}
				{% if content.field_uiowa_cta_summary[0] is not empty %}
					<div class="cta__content">
						<p class="cta__summary">{{ content.field_uiowa_cta_summary }}</p>
					</div>
				{% endif %}
			{% endblock %}

			{% block cta_link %}
				{% if content.field_uiowa_cta_link[0]['#url'] is not empty %}
					<div class="cta__link">
						<a href="{{ content.field_uiowa_cta_link[0]['#url'] }}" class="bttn bttn--primary bttn--caps">{{ content.field_uiowa_cta_link[0]['#title'] }}
							<i class="fas fa-arrow-right"></i>
						</a>
					</div>
				{% endif %}
			{% endblock %}

		</div>
	</div>

{% endblock %}

