{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}
{{ attach_library('uids_base/timeline') }}
<div{{ attributes.addClass(classes) }}>
  {{ content.field_uiowa_headline }}
  <div class="timeline-line">
    <div class="timeline-line__mask">
      <div class="timeline-line__fill">
      </div>
    </div>
  </div>
  {{ title_prefix }}
  {{ title_suffix }}
  <ul class="timeline">
  {{ content|without('field_uiowa_headline') }}
  </ul>
</div>
