{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% set video_field = content.field_uiowa_hero_video[0]['#media'].field_media_video_file.entity.uri.value %}
{% set video_url = file_url(content.field_uiowa_hero_video[0]['#media'].field_media_video_file.entity.uri.value) %}
{% set video_thumbnail = file_url(content.field_uiowa_hero_image[0]['#media'].field_media_image.entity.uri.value) %}

{# @todo Replace this with adding classes to <section> via attributes. #}
{% if elements['#layout_builder_style'][0] == 'hero__container-bottom' %}
	{% set vertical_align = 'bottom' %}
{% elseif  elements['#layout_builder_style'][0] == 'hero__container-grid' %}
	{% set vertical_align = 'grid' %}
{% else %}
	{% set vertical_align = 'center' %}
{% endif %}

{% embed "@uids_base/uids/hero.html.twig" with {
	hero_alignment: vertical_align
} %}

	{% block hero_image %}
		{% if video_field is not empty %}
			{{ attach_library('uids_base/hero-block-video') }}
			<video class="hero__video" autoplay="autoplay" muted="muted" loop="loop" id="video-container" poster="{{ video_thumbnail }}">
				<source src="{{ video_url }}" type="video/mp4">
			</video>
		{% else %}
			{{ content.field_uiowa_hero_image }}
		{% endif %}
	{% endblock %}

	{% block hero_content %}
		{% if content.field_uiowa_hero_title[0]['#text'] is not empty %}
      {% set hero_headline = {
        'headline_level' : content.field_uiowa_hero_title[0]['#size'],
        'headline_class' : 'bold-headline--serif bold-headline',
        'heading' : content.field_uiowa_hero_title[0]['#text'],
      } %}
			{% include '@uids_base/uids/heading.html.twig' with hero_headline only %}
		{% endif %}
		{{ content.field_uiowa_hero_excerpt }}
	{% endblock %}


	{% block hero_footer %}
		{% if video_field is not empty %}
			<div class="video-controls video">
				<button class="video-btn video-btn__pause" aria-label="Pause" id="video-btn">
					<span class="element-invisible">Pause</span>
				</button>
			</div>
		{% endif %}
	{% endblock %}


{% endembed %}
