<div class="block bttn--row">
  <a class="bttn bttn--secondary" href="{{ check_availability_link }}">
    {{ 'Check Availability'|t }} <span class="fa-arrow-right fas" role="presentation"></span>
  </a>
  <a class="bttn bttn--secondary" href="{{ request_link }}">
    {{ 'Request this Room'|t }} <span class="fa-arrow-right fas" role="presentation"></span>
  </a>
  <a class="bttn bttn--primary" href="{{ report_issue_link }}">
    {{ 'Report an Issue'|t }} <span class="fa-arrow-right fas" role="presentation"></span>
  </a>
</div>
