{% set paragraph_id = 'floorplan__panel--' ~ paragraph.id.value %}
<div role="tablist" aria-label="Tabs">
  {% for key, item in content.field_housing_floor_plan_type if key | first != '#' %}
    <button
      class="tab__button"
      role="tab"
      aria-selected="{{ field.delta == '0' ? 'true' : 'false' | default('false') }}"
      aria-controls="{{ paragraph_id }}"
      id="tabs--floorplan-info__{{ paragraph.id.value }}"
      >
      {% block tab_label %}
        {{ content.field_housing_floor_plan_type }}
      {% endblock %}
    </button>
  {% endfor %}
</div>

{% for key, item in content.field_housing_floor_plan_details if key | first != '#' %}
  <div tabindex="0" role="tabpanel" id="{{ paragraph_id }}" aria-labelledby="{{ paragraph_id }}--{{ key + 1 }}">
    {{ content.field_housing_floor_plan_details }}
    {{ content.field_housing_floor_plan_image }}
    {{ content.field_housing_floor_plan_pano }}
  </div>
{% endfor %}
