<div class="sitenow-event-single">
    <div id="sitenow-event" class="sitenow-event sitenow-event-{{ data.id }}">
        <div id="main-column" class="main-column">
            <div class="event-time">
                {{ data.date_instances }}
            </div>
            {% if data.location_name|length %}
            <div class="event-location">
                {{ data.location_name }}
                {% if data.room_number|length %}
                {{ data.room_number }}
                {% endif %}
            </div>
            {% endif %}
            {% if data.address|length %}
            <div class="event-address">
                {{ data.address }}
            </div>
            {% endif %}
            {% if data.description|length %}
            <div class="event-description">
                {{ data.description|raw }}
            </div>
            {% endif %}
            {% if data.custom_fields.contact_name|length %}
            <div class="contact-info">
                Contact Info: {{ data.custom_fields.contact_name }}
                {% if data.custom_fields.contact_email|length %}
                , {{ data.custom_fields.contact_email }}
                {% if data.custom_fields.contact_phone_number|length %}
                , {{ data.custom_fields.contact_phone_number }}
                {% endif %}
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div id="secondary-column" class="secondary-column">
            {{ data.event_image }}
            <a href="{{ data.events_site_url }}" role="button" class="btn btn-primary">View on Event Calendar</a>
        </div>
    </div>
    <div class="sitenow-event-accessibility-statement">
        <em>{{ data.accessibility_statement }}</em>
    </div>
</div>
