{% if block_type == 'basic' %}

<div id="feature__container"
  class="feature__container {{ feature_type }} {{ feature_state }}">

  {% set counter = 0 %}
  {% for item in feature.items %}
  {% if counter == 0 %}
  {% set firstitem = 'true' %}
  {% else %}
  {% set firstitem = 'false' %}
  {% endif %}

  {% include "@feature-block--basic" with {
    "feature_banner_image": item.feature_banner_image,
    "feature_link": item.feature_link,
    "feature_title": item.feature_title,
    "feature_sub": item.feature_sub
  } %}

  {% set counter = counter + 1 %}
  {% endfor %}

</div>

{% elseif block_type == 'advanced' %}

{% if feature_type == 'video' %}
<div class="video__container">
  <button class="video-btn video-btn__pause" id="video-btn">
    <span class="element-invisible">Pause</span></button>
  {% endif %}

  <div id="feature__container"
    class="feature__container {{ feature_type }} {{ feature_state }}">

    {% set counter = 0 %}

    {% for item in feature.items %}

    {% if counter == 0 %}
    {% set firstitem = 'true' %}
    {% else %}
    {% set firstitem = 'false' %}
    {% endif %}

    {% if feature_type == 'video' %}

    {% if firstitem == 'true' %}

    <a href="{{ item.feature_link }}" tabindex="0" aria-expanded="{{ firstitem }}" class="feature">
      <div class="feature__wrapper">

        <video autoplay="autoplay" muted="muted" loop="loop" id="video-container">
          <source src="https://tippie.uiowa.edu/sites/tippie.uiowa.edu/files/video/tippie_build1_final_720.mp4" type="video/mp4">
        </video>

        <div class="feature__content">
          <div class="feature__bracket">
            <h2 class="feature__heading">{{ item.feature_title }}</h2>
            <hr class="feature__hr">
            <p class="feature__subheading">{{ item.feature_sub }}</p>
          </div>
        </div>

        <div class="feature__teaser">
          <h3 class="feature__teaser-heading">{{ item.feature_title }}
            <i aria-hidden="true" class="fas fa-plus"></i>
          </h3>
        </div>

      </div>
    </a>
    {% else %}

    {% include "@feature-block--basic" with {
      "feature_banner_image": item.feature_banner_image,
      "feature_link": item.feature_link,
      "feature_title": item.feature_title,
      "feature_sub": item.feature_sub
    } %}

    {% endif %}
    {% endif %}

    {% set counter = counter + 1 %}
    {% endfor %}

  </div>

  {% if feature_type == 'video' %}
</div>
{% endif %}

{% endif %}
