{% block feature_bg %}
  {% if feature_banner_image %}
    <a href="{{ feature_link }}" tabindex="0" aria-expanded="{{ firstitem }}" class="feature feature__{{ counter }}" {% if feature_banner_image %} style="background-image: url('{% spaceless %}{{ feature_banner_image }}{% endspaceless %}'); background-size: cover; background-position: center" {% endif %}>
  {% endif %}
{% endblock %}
<div class="feature__wrapper">
  <div class="feature__content">
    <div class="feature__bracket">
      <h2 class="feature__heading">{{ feature_title }}</h2>
      <hr class="feature__hr">
      <p class="feature__subheading">{{ feature_sub }}</p>
    </div>
  </div>
  <div class="feature__teaser">
    <h3 class="feature__teaser-heading">{{ feature_title }}
      <i aria-hidden="true" class="fas fa-plus"></i>
    </h3>
  </div>
</div>
</a>
