{#
/**
 * @file
 * Theme override to present a feed item in an aggregator page.
 *
 * Available variables:
 * - url: URL to the originating feed item.
 * - title: (optional) Title of the feed item.
 * - content: All field items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given element.
 * - attributes: HTML attributes for the wrapper.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_aggregator_item()
 */
#}
{{ attach_library('uids_base/event') }}

<article{{attributes.addClass('aggregator-item events-card events-card__row')}}>

  {% if feed_image %}
		<div class="events-card__image">
			{{ feed_image }}
		</div>
	{% endif %}

  {{ title_prefix }}

	<div class="events-card__body">

    {% if title %}
			<h3 class="events-card__title">
				<a href="{{ url }}">{{ title }}</a>
			</h3>
    {% endif %}

		{{ title_suffix }}

		<div class="events-card__details">
			<div class="events-card__date">
        {{ content.timestamp }}
      </div>
			|
			<div class="events-card__label">
				<i class="fas fa-user"></i>
        {{ content.author }}
      </div>

			<div class="events__description">
				{{ content.description }}
			</div>
		</div>

	</div>

</article>
