{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}


{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]
%}

{% if attributes.hasClass('js-layout-builder-block') %}
  <div{{ attributes.addclass(classes) }}>
  {% endif %}

  {% block content %}
    {{ title_prefix }}
    {{ title_suffix }}
    {{ attach_library('collegiate_theme/feature-block') }}
    {% embed "@feature-block/feature-block--basic.twig" with {
      "feature_classes": attributes['class'],
      "feature_banner_preview_image": file_url(content.field_uiowa_feature_image[0]['#media'].image.entity.uri.value | image_style('medium')),
      "feature_banner_image": drupal_image(content.field_uiowa_feature_image[0]['#media'].image.entity.uri.value, 'uiowa_lb_blocks',  { class: 'card__img', alt: content.field_uiowa_feature_image[0]['#media'].image.alt }, responsive=true),
      "feature_title": content.field_uiowa_feature_title,
			"feature_sub": content.field_uiowa_feature_sub,
			"feature_link": content.field_uiowa_feature_link[0]['#url'],
    } %}
      {% block feature_bg %}
        {% if attributes.hasClass('js-layout-builder-block') %}
          <a href="{{ feature_link }}" tabindex="0" aria-expanded="{{ firstitem }}" class="feature feature__{{ counter }} {{ feature_classes }}" {% if feature_banner_preview_image %} style="background-image: url('{% spaceless %}{{ feature_banner_preview_image }}{% endspaceless %}'); background-size: cover; background-position: center" {% endif %}>
      {% else %}
          <a href="{{ feature_link }}" tabindex="0" aria-expanded="{{ firstitem }}" class="feature feature__{{ counter }} {{ feature_classes }}" data-responsive-background-image="true">
            {{ feature_banner_image }}
        {% endif %}
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% if attributes.hasClass('js-layout-builder-block') %}
  </div>
{% endif %}
