<div class="sitenow-event-teaser">
    <div class="sitenow-event">
        <div class="sitenow-event-content">
            <h3 class="sitenow-event-title"><a href="{{ event.url }}">{{ event.title }}</a></h3>
            <p class="date-string">{{ event.date_string }}</p>
            <p class="sitenow-event-description">{{ event.description_text }}</p>
        </div>
        {{ event.image }}
    </div>
</div>
