{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{{ attach_library('uids_base/articles') }}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
    default_row_class ? 'views-row',
  ]
  %}
  {% set person_card_view = row.card_options %}
  {% embed '@uids_base/uids/card.html.twig' with person_card_view only  %}

    {% block card_img %}
      {% if card_image|striptags('<img><picture>')|trim is not empty %}
        {{ parent() }}
      {% endif %}
    {% endblock %}

{#      {% block card_subtitle %}#}
{#        {% if card_subtitle|striptags|trim is not empty %}#}
{#          <div class="card__subtitle">{{ card_subtitle }}</div>#}
{#        {% endif %}#}
{#      {% endblock %}#}

{#      {% block card_tag %}#}
{#        {% if card_tag|striptags|trim is not empty %}#}
{#          <div class="card__date"><span role="presentation" class="fas fa-envelope"></span> {{ card_tag }}</div>#}
{#        {% endif %}#}
{#        {% if person_phone|striptags|trim is not empty %}#}
{#          <div class="card__date"><span role="presentation" class="fas fa-phone"></span> {{ person_phone }}</div>#}
{#        {% endif %}#}
{#      {% endblock %}#}

{#      {% block card_content %}#}
{#        {% if card_text is not empty %}#}
{#          <p>{{ card_text }}</p>#}
{#        {% endif %}#}
{#      {% endblock %}#}

  {% endembed %}
{% endfor %}
