{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for key,row in rows %}
  {% set row_classes = [
    default_row_class ? 'views-row',
  ] %}
  <div{{ row.attributes.addClass(row_classes) }}>

    {% set media_attributes = media_attributes ?: create_attribute() %}

    {% set person_card_view = {
      'card_image': view.style_plugin.getField(key, 'field_image'),
      'card_subtitle': view.style_plugin.getField(key, 'field_person_email'),
      'card_tag': view.style_plugin.getField(key, 'field_person_phone'),
      'person_website': view.style_plugin.getField(key, 'field_person_website'),
      'person_education': view.style_plugin.getField(key, 'field_person_education'),
      'person_hometown': view.style_plugin.getField(key, 'field_person_hometown'),
      'person_contact': view.style_plugin.getField(key, 'field_person_contact_information'),
      'media_attributes': media_attributes.addClass('media--circle card__media--large card__media'),
    } %}

    {%
      set classes = [
      'card--stacked',
      'card--centered-left',
      'card--alignment-left',
      'media--border',
    ]
    %}

    {% set has_body = false %}

    {% set card_body_fields = ['card_subtitle', 'card_tag', 'person_website', 'person_education', 'person_hometown', 'person_contact'] %}

    {% for check in card_body_fields %}
      {% if person_card_view[check]|striptags|trim is not empty %}
        {{ check }}
        {% set has_body = true %}
      {% endif %}
    {% endfor %}

    {% if has_body %}
      {% set classes = classes|merge([
        'bg--white',
        'card--enclosed',
      ]) %}
    {% endif %}

    {% set person_card_view = person_card_view|merge({
      'attributes': attributes.addClass(classes),
      'has_body': has_body,
    }) %}

    {% embed '@uids_base/uids/card.html.twig' with person_card_view only %}

      {% block card_img %}
        {% if card_image|striptags('<img><picture>')|trim is not empty %}
          {{ parent() }}
        {% endif %}
      {% endblock %}

      {% block card_body %}
        {% if has_body %}

          <div class="card__body">
            {% block card_subtitle %}
              {% if card_subtitle|striptags|trim is not empty %}
                <div class="card__subtitle"><span class="fas fa-envelope"></span> {{ card_subtitle }}</div>
              {% endif %}
            {% endblock %}

            {% block card_tag %}
              {% if card_tag|striptags|trim is not empty %}
                <div class="card__date"><span class="fas fa-phone"></span> {{ card_tag }}</div>
              {% endif %}
              {% if person_hometown|striptags|trim is not empty %}
                <div class="card__date"><span class="fas fa-globe-americas"></span> <strong>Hometown:</strong> {{ person_hometown }}</div>
              {% endif %}
              {% if person_website|striptags|trim is not empty %}
                <div class="card__date"><span class="fas fa-desktop"></span> {{ person_website }}</div>
              {% endif %}
              {% if person_education|striptags|trim is not empty %}
                <div class="card__date"><span class="fas fa-university"></span> {{ person_education }}</div>
              {% endif %}
              {% if person_contact|striptags|trim is not empty %}
                <div class="card__date"><span class="fas fa-map-marker"></span> {{ person_contact }}</div>
              {% endif %}
            {% endblock %}
          </div>

        {% endif %}
      {% endblock %}

    {% endembed %}
  </div>
{% endfor %}
