{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('uids_base/person') }}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% set block_styles = [] %}
{% if view %}
  {% set block_styles = view.display_handler.getOption('block_styles') %}
{% endif %}
{% for key,row in rows %}
  {% set row_classes = [
    default_row_class ? 'views-row',
  ] %}
  <div{{ row.attributes.addClass(row_classes) }}>

    {% set media_attributes = media_attributes ?: create_attribute() %}

    {% set orientation = 'right' %}
    {% if 'card--media-left' in block_styles %}
      {% set orientation = 'left' %}
    {% endif %}

    {%
      set classes = [
      'card--list',
      'card--person-teaser',
      'bg--white',
      'card--media-' ~ orientation,
      'media--border',
      'card--centered-right',
      'card--alignment-right'
    ]
    %}

    {% set person_card_view = {
      'attributes': attributes.addClass(classes, block_styles),
      'card_title': view.style_plugin.getField(key, 'title'),
      'card_image': view.style_plugin.getField(key, 'field_image'),
      'card_tag': view.style_plugin.getField(key, 'field_person_email'),
      'card_text': view.style_plugin.getField(key, 'field_teaser'),
      'card_subtitle': view.style_plugin.getField(key, 'field_person_position'),
      'person_phone': view.style_plugin.getField(key, 'field_person_phone'),
      'media_attributes': media_attributes.addClass('media--circle card__media--small card__media'),
    } %}

    {% embed '@uids_base/uids/card.html.twig' with person_card_view only %}

      {% block card_img %}
        {% if card_image|striptags('<img><picture>')|trim is not empty %}
          {{ parent() }}
        {% endif %}
      {% endblock %}

      {% block card_subtitle %}
        {% if card_subtitle|striptags|trim is not empty %}
          <div class="card__subtitle">{{ card_subtitle }}</div>
        {% endif %}
      {% endblock %}

      {% block card_tag %}
        {% if card_tag|striptags|trim is not empty %}
          <div class="card__date"><span class="fas fa-envelope"></span> {{ card_tag }}</div>
        {% endif %}
        {% if person_phone|striptags|trim is not empty %}
          <div class="card__date"><span class="fas fa-phone"></span> {{ person_phone }}</div>
        {% endif %}
      {% endblock %}

      {% block card_content %}
        {% if card_text is not empty %}
          <p>{{ card_text }}</p>
        {% endif %}
      {% endblock %}

    {% endembed %}
  </div>
{% endfor %}
