{#
/**
 * @file
 * Default theme implementation to display a one column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 * @see https://www.drupal.org/docs/8/api/layout-api/how-to-register-layouts
 * @see https://v4-alpha.getbootstrap.com/layout/grid/
 */
#}
{% set has_uids_menu = content.content['c8d974cb-667f-4e0d-8716-d2a77004e0e1']['#layout_builder_style']['0'] %}
{% set has_featured_image = content.content['8be51334-4e07-4621-bddf-6b9942b862e2']['content']['0'] %}

{%
  set classes = [
    'layout',
    'layout--onecol',
    'layout__container',
    settings.extra_classes,
  ]
%}
{{ attach_library('uids_base/sitenow') }}

{% if content.content %}
  <div{{attributes.addClass(classes)}}>
    <div class="lb__container has-{{ has_uids_menu }}">

      {% if has_featured_image is empty %}
        {{ breadrumbs }}
        <h1 class="bold-headline--serif bold-headline">{{ drupal_title() }}</h1>
      {% endif %}

      {{ content.content }}

    </div>
  </div>

{% endif %}
